<div class="jumbotron">
    <h1 class="title">Pure Airland</h1>
    <p class="slogan">Pure Airland 是一个招募空岛工作人员的网站。
    <br>
    我们希望藉由这个网站，招募到合适的工作人员，能够参与到空岛的发展中来。
    <br>
    这里的美景等待您来开发
   </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上报名</a></p>
 </div>
 <section id="company">
   <div class = "container-fluid">
     <div class="row">
       <div class="col-sm-4 ">
         <div class="thumbnail">
           <img src="http://y.photo.qq.com/img?s=VfqbvmFVI&l=y.jpg" alt="search" class = "img-thhumbnail">
           <div class="caption">
             <h3>上海肇嘉浜路</h3>
           </div>
         </div>
       </div>
       <div class="col-sm-4 ">
         <div class="thumbnail">
           <img src="http://y.photo.qq.com/img?s=9yBkCQVj7&l=y.jpg" alt="bid" class = "img-thhumbnail">
           <div class="caption">
             <h3>info@airland.com</h3>
           </div>
         </div>
       </div>
       <div class="col-sm-4 ">
         <div class="thumbnail">
           <img src="http://y.photo.qq.com/img?s=bAQJ8dfF4&l=y.jpg" alt="heart" class = "img-thhumbnail">
           <div class="caption">
             <h3>021-12344321</h3>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
