    <div class="responsive-helper">
  <span class="label label-danger visible-xs"></span>
  <span class="label label-warning visible-sm"></span>
  <span class="label label-info visible-md"></span>
  <span class="label label-success visible-lg"></span>
</div>
